/* GENERAL */
:root {
    --gradient: linear-gradient(45deg,
    #830f6a,
    #470f83,
    #1f0f83,
    #0f5a83,
    #0c6237,
    #1b830f
    );
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85)
}

a, .btn {
    transition: all 300ms ease
}

/* DESKTOP NAV ----------------------------------------------------------*/
nav, .nav-links {
    display: flex;
}

nav {
    background: white;
    position: sticky;
    top: 0;
    border-bottom: 3px solid black;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    z-index: 1;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(121, 192, 215);
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-color: rgb(121, 192, 215);
}

.logo {
    font-size: 2rem;
    font-weight: bold;

}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU -------------------------------------------------------*/

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3 ease-in-out;
}

.menu-links a:hover {
    background-color: rgb(121, 192, 215);
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }


.menu-links li {
    list-style: none;
}

.menu-links.open {
    border: 3px solid black;
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* HERO SECTION------------------------------------------------------------- */

.hero {
    /* background-image: url(giphy.webp); */
    /* background-size: cover; */
    /* background-position: center; */
    padding-top: 13vh;
    display: flex;
    flex-direction: column;
    margin: 0 20vh;
    text-align: left;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}

}
.hero-header {
    font-size: 4.2rem;
    font-weight: 700;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
}
.hero-description {
    padding-top: 1vh;
    font-size: 2rem;
    font-weight: 300;
}

.hero-description h2 {
    font-weight: 450;
}

/* PROJECTS---------------------------------------------------------------- */
#project-container {
    margin-top: 20vh;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.project { /* position: relative therefore whatever is position absolute below adjusts to it*/
    width: 25vw;
    height: 25vw;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.project a {
    display: block;
    position: relative;
}
.project-image { 
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

.project-description {
    color: white;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

p { 
    color: white;
}

.project-description:hover {
    opacity: 1;
}

/* PROJECT 1---------------------------- */

.project1 {
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    padding: 30px;

}

.project1header {
    /* border: 2px solid black; */
    font-size: 2.5rem;
    padding: 10px;
}

.project1description {
    padding: 10px;
}

.project1description h3 {
    /* border: 5px solid black; */
    font-weight: 400;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80vw;
}

.project1images {
    margin: 3vh 0;
    display: flex;
    width: 100%;
}

.projectoutline {
    border: 1px solid rgb(205, 205, 205);
}

.projectcover {
    width: 50vw;
}

.musiccontainer {
    margin: auto;
    /* border: 2px solid blue; */
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.musicimage {
    padding: 3px;
    width: 38vw;
}

.music {
    display: flex;
    flex-direction: column;
}

/* CONTACT -------------------------------------------------------------- */
.contact {
    border-top: 3px solid black;
    margin-top: 20vh;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactcontainer {
    width: 73%;
    height:100%;

    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.contactbox1 {
    /* border: 1px dotted blue; */
    text-align: left;
}

.contactbox2 {
    text-align: right;
    /* border: 1px dotted blue; */
}

/* ABOUT SECTION --------------------------------- */
.about {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 8vh auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.aboutheader {
    /* border: 2px solid black; */
    font-size: 3rem;
    padding: 5px;
    width: 75vw;

    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: bg-animation 3s infinite alternate;
}
.aboutdescription {
    /* border: 2px solid black; */
    width: 75vw;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutdescription h3 {
    font-weight: 400;
}
.aboutbox {
    width: 35vw;
}
.aboutlink:hover {
    color: rgb(121, 192, 215);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: rgb(121, 192, 215);
}

/* PHOTOGRAPHY----------------- */
.photographycontainer {
    margin: auto;
    border: 2px solid black;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.photographyimage {
    padding: 2px;
    width: 41vw;
}

